@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased bg-white text-black dark:bg-stone-950 dark:text-white;
    }
}

@layer utilities {
    .dark {
        color-scheme: dark;
    }
}

.cm-gutters {
    @apply dark:bg-stone-800 dark:text-stone-300 dark:!border-r-stone-700
}

.ResizeablePanelGroup-ResizeHandle {
    @apply bg-transparent !w-3 border-solid rounded-none border-r border-r-gray-300 border-0 ;
}